In [3]:
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd
from requests.exceptions import HTTPError
import sys
import math

In [2]:
url = "http://www.nepalstock.com/"
request = requests.get(url)
soup = BeautifulSoup(request.text, 'lxml')
total_transactions = soup.find(text="Total Transactions")
total_transactions = total_transactions.parent.parent.next_sibling.next_sibling.text
total_transactions = total_transactions.replace(",", "")
total_iteration = math.ceil(int(total_transactions)/500)
print(total_iteration)

173

In [30]:

table_list = list()
subgroup = "floorsheet"
# url = "http://iloveyou:8000"
r_list = list()
mistake_count = 0
for index in range(1,total_iteration+1):
    url = f"http://www.nepalstock.com/main/floorsheet/index/{index}/?contract-no=&stock-symbol=&buyer=&seller=&_limit=500/"
    while True:
        try:
            r = requests.get(url)
            if r.status_code == 200 :  
                break
        except requests.exceptions.RequestException as e:  # This is the correct syntax
            mistake_count += 1
            if mistake_count > 3:
                print(e)
                sys.exit()
                continue
        
    r_list.append(r)

In [39]:

for r in r_list:
    soup = BeautifulSoup(r.text, "lxml")
    table = soup.find("table", class_="table my-table").contents
    table = list(filter(lambda a : a!='\n', table))
    # row = [x.text for x in table[2].find_all("td")]
    # print(row)
    
    for row in table[2:-3]:
        datas = row.find_all("td")
        row = [x.text for x in datas]
        row[5:] = [float(x) for x in row[5:]]
        table_list.append(row)

    # data_json = json.dumps(table_list)
    # print(data_json)
columns = ['S.N.', 'Contract No','Stock Symbol', 'Buyer Broker',
           'Seller Broker', 'Quantity', 'Rate', 'Amount']
df = pd.DataFrame(table_list, columns=columns)
df.to_csv("floorsheet.csv")

In [4]:


df = pd.read_csv('floorsheet.csv')
df

,Unnamed: 0,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount
0,0,1,2021051303033167,LLBS,33,5,50.0,2369.0,118450.0
1,1,2,2021051304036380,SICL,33,38,50.0,1935.0,96750.0
2,2,3,2021051304036379,PICL,38,34,10.0,780.0,7800.0
3,3,4,2021051304036378,NGPL,38,1,50.0,317.0,15850.0
4,4,5,2021051304036377,TRH,38,3,50.0,284.0,14200.0
...,...,...,...,...,...,...,...,...,...
86291,86291,86292,2021051301000001,NIB,28,38,20.0,462.0,9240.0
86292,86292,86293,2021051303000001,DDBL,49,48,100.0,1850.0,185000.0
86293,86293,86294,2021051304000001,NHPC,57,48,10.0,168.0,1680.0
86294,86294,86295,2021051305000002,NICLBSL,8,57,5.0,1750.0,8750.0
86295,86295,86296,2021051305000001,NICLBSL,21,57,45.0,1750.0,78750.0

In [5]:

# df.tail(10).style.hide_index()
df[(df["Stock Symbol"]=="CZBIL") & (df["Amount"] > 1000000)].sort_values("Amount", ascending =False)
# df[(df["Amount"] > 1000000)].sort_values("Amount", ascending =False)

,Unnamed: 0,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount
14689,14689,14690,2021051304030902,UMHL,20,43,100000.0,267.00,26700000.0
23757,23757,23758,2021051304027235,LEC,39,39,61252.0,380.00,23275760.0
52089,52089,52090,2021051301005689,SLICLP,17,49,50000.0,385.62,19281000.0
52031,52031,52032,2021051301005715,SLICLP,17,49,50000.0,382.51,19125500.0
51913,51913,51914,2021051301005744,SLICLP,17,49,49860.0,379.99,18946301.4
...,...,...,...,...,...,...,...,...,...
26904,26904,26905,2021051304026049,AHPC,33,10,3224.0,314.00,1012336.0
47195,47195,47196,2021051303013055,PROFL,48,17,5000.0,202.00,1010000.0
39108,39108,39109,2021051304021978,HDHPC,20,45,5000.0,202.00,1010000.0
5362,5362,5363,2021051301014015,RBCLPO,53,33,60.0,16801.00,1008060.0
57264,57264,57265,2021051303009033,NRIC,40,34,650.0,1550.00,1007500.0